# Web framework
streamlit

# Scientific computing
numpy
pandas
scipy
matplotlib
plotly
folium

# ML / Deep Learning
scikit-learn
torch
psutil

# Geophysical
simpeg==0.24.0
discretize==0.11.2
geoana==0.7.0
pymatsolver>=0.2.0
pyvista==0.44.1

# Reference Base Station
lxml

